@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

input {
  height: 40px;
  border: 2px solid rgba(128, 128, 128, 0.834);
  padding: 10px 15x;
}

input:focus {
  outline: none;
  border: 3px solid black !important;
}
